In [1]:
from ucimlrepo import fetch_ucirepo, list_available_datasets
list_available_datasets()

-------------------------------------
The following datasets are available:
-------------------------------------
Dataset Name                                                                            ID
------------                                                                            --
Abalone                                                                                 1
Adult                                                                                   2
Annealing                                                                               3
Audiology (Standardized)                                                                8
Auto MPG                                                                                9
Automobile                                                                              10
Balance Scale                                                                           12
Balloons                                                                                13
Breast Cancer                                                                           14
Breast Cancer Wisconsin (Original)                                                      15
Breast Cancer Wisconsin (Prognostic)                                                    16
Breast Cancer Wisconsin (Diagnostic)                                                    17
Pittsburgh Bridges                                                                      18
Car Evaluation                                                                          19
Census Income                                                                           20
Chess (King-Rook vs. King-Pawn)                                                         22
Chess (King-Rook vs. King)                                                              23
Connect-4                                                                               26
Credit Approval                                                                         27
Japanese Credit Screening                                                               28
Computer Hardware                                                                       29
Contraceptive Method Choice                                                             30
Covertype                                                                               31
Cylinder Bands                                                                          32
Dermatology                                                                             33
Echocardiogram                                                                          38
Ecoli                                                                                   39
Flags                                                                                   40
Glass Identification                                                                    42
Haberman's Survival                                                                     43
Hayes-Roth                                                                              44
Heart Disease                                                                           45
Hepatitis                                                                               46
Horse Colic                                                                             47
Image Segmentation                                                                      50
Ionosphere                                                                              52
Iris                                                                                    53
ISOLET                                                                                  54
Lenses                                                                                  58
Letter Recognition                                                                      59
Liver Disorders                                                                         60
Lung Cancer                                                                             62
Lymphography                                                                            63
Molecular Biology (Splice-junction Gene Sequences)                                      69
MONK's Problems                                                                         70
Mushroom                                                                                73
Musk (Version 1)                                                                        74
Musk (Version 2)                                                                        75
Nursery                                                                                 76
Page Blocks Classification                                                              78
Optical Recognition of Handwritten Digits                                               80
Pen-Based Recognition of Handwritten Digits                                             81
Post-Operative Patient                                                                  82
Primary Tumor                                                                           83
Servo                                                                                   87
Shuttle Landing Control                                                                 88
Solar Flare                                                                             89
Soybean (Large)                                                                         90
Soybean (Small)                                                                         91
Challenger USA Space Shuttle O-Ring                                                     92
Spambase                                                                                94
SPECT Heart                                                                             95
SPECTF Heart                                                                            96
Tic-Tac-Toe Endgame                                                                     101
Congressional Voting Records                                                            105
Waveform Database Generator (Version 1)                                                 107
Wine                                                                                    109
Yeast                                                                                   110
Zoo                                                                                     111
US Census Data (1990)                                                                   116
Census-Income (KDD)                                                                     117
El Nino                                                                                 122
Statlog (Australian Credit Approval)                                                    143
Statlog (German Credit Data)                                                            144
Statlog (Heart)                                                                         145
Statlog (Landsat Satellite)                                                             146
Statlog (Image Segmentation)                                                            147
Statlog (Shuttle)                                                                       148
Statlog (Vehicle Silhouettes)                                                           149
Connectionist Bench (Sonar, Mines vs. Rocks)                                            151
Cloud                                                                                   155
Poker Hand                                                                              158
MAGIC Gamma Telescope                                                                   159
Mammographic Mass                                                                       161
Forest Fires                                                                            162
Concrete Compressive Strength                                                           165
Ozone Level Detection                                                                   172
Parkinsons                                                                              174
Blood Transfusion Service Center                                                        176
Communities and Crime                                                                   183
Acute Inflammations                                                                     184
Wine Quality                                                                            186
Parkinsons Telemonitoring                                                               189
Cardiotocography                                                                        193
Steel Plates Faults                                                                     198
Communities and Crime Unnormalized                                                      211
Vertebral Column                                                                        212
Bank Marketing                                                                          222
ILPD (Indian Liver Patient Dataset)                                                     225
Skin Segmentation                                                                       229
Individual Household Electric Power Consumption                                         235
Energy Efficiency                                                                       242
Fertility                                                                               244
ISTANBUL STOCK EXCHANGE                                                                 247
User Knowledge Modeling                                                                 257
EEG Eye State                                                                           264
Banknote Authentication                                                                 267
Gas Sensor Array Drift at Different Concentrations                                      270
Bike Sharing                                                                            275
Thoracic Surgery Data                                                                   277
Airfoil Self-Noise                                                                      291
Wholesale customers                                                                     292
Combined Cycle Power Plant                                                              294
Diabetes 130-US Hospitals for Years 1999-2008                                           296
Tennis Major Tournament Match Statistics                                                300
Dow Jones Index                                                                         312
Student Performance                                                                     320
Phishing Websites                                                                       327
Diabetic Retinopathy Debrecen                                                           329
Online News Popularity                                                                  332
Chronic Kidney Disease                                                                  336
Mice Protein Expression                                                                 342
Default of Credit Card Clients                                                          350
Online Retail                                                                           352
Occupancy Detection                                                                     357
Air Quality                                                                             360
Polish Companies Bankruptcy                                                             365
Dota2 Games Results                                                                     367
Facebook Metrics                                                                        368
HTRU2                                                                                   372
Drug Consumption (Quantified)                                                           373
Appliances Energy Prediction                                                            374
Website Phishing                                                                        379
YouTube Spam Collection                                                                 380
Beijing PM2.5                                                                           381
Cervical Cancer (Risk Factors)                                                          383
Stock Portfolio Performance                                                             390
Sales Transactions Weekly                                                               396
Daily Demand Forecasting Orders                                                         409
Autistic Spectrum Disorder Screening Data for Children                                  419
Autism Screening Adult                                                                  426
Absenteeism at work                                                                     445
Breast Cancer Coimbra                                                                   451
Drug Reviews (Druglib.com)                                                              461
Drug Reviews (Drugs.com)                                                                462
Superconductivty Data                                                                   464
Student Academics Performance                                                           467
Online Shoppers Purchasing Intention Dataset                                            468
Electrical Grid Stability Simulated Data                                                471
Real Estate Valuation                                                                   477
Travel Reviews                                                                          484
Travel Review Ratings                                                                   485
Facebook Live Sellers in Thailand                                                       488
Metro Interstate Traffic Volume                                                         492
Hepatitis C Virus (HCV) for Egyptian patients                                           503
Heart Failure Clinical Records                                                          519
Early Stage Diabetes Risk Prediction                                                    529
Pedestrians in Traffic                                                                  536
Cervical Cancer Behavior Risk                                                           537
Estimation of Obesity Levels Based On Eating Habits and Physical Condition              544
Rice (Cammeo and Osmancik)                                                              545
Algerian Forest Fires                                                                   547
Gas Turbine CO and NOx Emission Data Set                                                551
Apartment for Rent Classified                                                           555
Seoul Bike Sharing Demand                                                               560
Iranian Churn                                                                           563
Bone marrow transplant: children                                                        565
COVID-19 Surveillance                                                                   567
HCV data                                                                                571
Taiwanese Bankruptcy Prediction                                                         572
Myocardial infarction complications                                                     579
Student Performance on an Entrance Examination                                          582
Gender by Name                                                                          591
Productivity Prediction of Garment Employees                                            597
AI4I 2020 Predictive Maintenance Dataset                                                601
Dry Bean                                                                                602
In-Vehicle Coupon Recommendation                                                        603
Predict Students' Dropout and Academic Success                                          697
Auction Verification                                                                    713
NATICUSdroid (Android Permissions)                                                      722
Toxicity                                                                                728
DARWIN                                                                                  732
Accelerometer Gyro Mobile Phone                                                         755
Glioma Grading Clinical and Mutation Features                                           759
Multivariate Gait Data                                                                  760
Land Mines                                                                              763
Single Elder Home Monitoring: Gas and Position                                          799
Sepsis Survival Minimal Clinical Records                                                827
Secondary Mushroom                                                                      848
Power Consumption of Tetouan City                                                       849
Raisin                                                                                  850
Steel Industry Energy Consumption                                                       851
Higher Education Students Performance Evaluation                                        856
Risk Factor Prediction of Chronic Kidney Disease                                        857
Maternal Health Risk                                                                    863
Room Occupancy Estimation                                                               864
Cirrhosis Patient Survival Prediction                                                   878
SUPPORT2                                                                                880
National Health and Nutrition Health Survey 2013-2014 (NHANES) Age Prediction Subset    887
AIDS Clinical Trials Group Study 175                                                    890
CDC Diabetes Health Indicators                                                          891
Recipe Reviews and User Feedback                                                        911
Forty Soybean Cultivars from Subsequent Harvests                                        913
Differentiated Thyroid Cancer Recurrence                                                915
Infrared Thermography Temperature                                                       925
National Poll on Healthy Aging (NPHA)                                                   936
Regensburg Pediatric Appendicitis                                                       938
RT-IoT2022                                                                              942
PhiUSIIL Phishing URL (Website)                                                         967

In [10]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          45211 non-null  int64
 1   job          44923 non-null  object
 2   marital      45211 non-null  object
 3   education    43354 non-null  object
 4   default      45211 non-null  object
 5   balance      45211 non-null  int64
 6   housing      45211 non-null  object
 7   loan         45211 non-null  object
 8   contact      32191 non-null  object
 9   day_of_week  45211 non-null  int64
 10  month        45211 non-null  object
 11  duration     45211 non-null  int64
 12  campaign     45211 non-null  int64
 13  pdays        45211 non-null  int64
 14  previous     45211 non-null  int64
 15  poutcome     8252 non-null   object
dtypes: int64(7), object(9)
memory usage: 5.5+ MB

In [9]:
X.head()

,age,job,marital,education,default,balance,housing,loan,contact,day_of_week,month,duration,campaign,pdays,previous,poutcome
0,58,management,married,tertiary,no,2143,yes,no,NaN,5,may,261,1,-1,0,NaN
1,44,technician,single,secondary,no,29,yes,no,NaN,5,may,151,1,-1,0,NaN
2,33,entrepreneur,married,secondary,no,2,yes,yes,NaN,5,may,76,1,-1,0,NaN
3,47,blue-collar,married,NaN,no,1506,yes,no,NaN,5,may,92,1,-1,0,NaN
4,33,NaN,single,NaN,no,1,no,no,NaN,5,may,198,1,-1,0,NaN

In [8]:
X.groupby(['education']).agg({'balance': ['count', 'min', 'mean', 'max', 'sum']}).\
                                    sort_values(by=('balance', 'count'), ascending=False)

          balance
            count   min         mean     max       sum
education
secondary   23202 -8019  1154.880786   81204  26795544
tertiary    13301 -6847  1758.416435  102127  23388697
primary      6851 -2604  1250.949934   71188   8570258

In [7]:
X.groupby(['marital']).agg({'balance': ['count', 'min', 'mean', 'max', 'sum']}).\
                                    sort_values(by=('balance', 'count'), ascending=False)

         balance
           count   min         mean     max       sum
marital
married    27214 -6847  1425.925590   98417  38805139
single     12790 -8019  1301.497654  102127  16646155
divorced    5207 -4057  1178.872287   66721   6138388

In [6]:
X.groupby(['job']).agg({'balance': ['count', 'min', 'mean', 'max', 'sum']}).\
                                    sort_values(by=('balance', 'count'), ascending=False)

              balance
                count   min         mean     max       sum
job
blue-collar      9732 -8019  1078.826654   66653  10499141
management       9458 -6847  1763.616832  102127  16680288
technician       7597 -2827  1252.632092   45248   9516246
admin.           5171 -1601  1135.838909   64343   5873423
services         4154 -2122   997.088108   57435   4141904
retired          2264 -1598  1984.215106   81204   4492263
self-employed    1579 -3313  1647.970868   52587   2602146
entrepreneur     1487 -2082  1521.470074   59649   2262426
unemployed       1303 -1270  1521.745971   44134   1982835
housemaid        1240 -1941  1392.395161   45141   1726570
student           938  -679  1388.060768   24025   1302001

In [15]:
X.groupby(['education', 'job']).agg({'balance': ['count', 'min', 'mean', 'max', 'sum']}).\
                                    sort_values(by=[('education'), ('balance', 'count')], ascending=False)

                        balance
                          count   min         mean     max       sum
education job
tertiary  management       7801 -6847  1833.871170  102127  14306029
          technician       1968 -2827  1511.472561   34646   2974578
          self-employed     833 -3313  1951.199280   52587   1625349
          entrepreneur      686  -961  1831.804665   59649   1256618
          admin.            572 -1011  1217.777972   45789    696569
          retired           366 -1598  2161.245902   41242    791016
          unemployed        289  -471  1686.826990   39385    487493
          student           223  -679  1644.923767   24025    366818
          services          202  -780  1211.435644   12223    244710
          housemaid         173 -1941  1830.416185   23663    316662
          blue-collar       149  -701  1549.248322   17672    230838
secondary blue-collar      5371 -8019  1063.894433   58932   5714177
          technician       5229 -1944  1124.722700   31868   5881175
          admin.           4219 -1601  1116.059967   58544   4708657
          services         3457 -1730   957.864623   57435   3311338
          management       1121 -1854  1326.537021   36686   1487048
          retired           984 -1206  2061.122967   81204   2028145
          unemployed        728 -1270  1432.729396   44134   1043027
          self-employed     577 -1668  1287.029463   29125    742616
          entrepreneur      542 -2082  1070.841328   27624    580396
          student           508  -322  1259.903543   23878    640031
          housemaid         395 -1531  1443.589873   45141    570218
primary   blue-collar      3758 -2604  1086.104311   66653   4081580
          retired           795 -1480  1879.545912   71188   1494239
          housemaid         627 -1006  1128.261563   26965    707420
          services          345 -2122   966.571014   13118    333467
          management        294 -1161  1672.244898   22856    491640
          unemployed        257  -581  1588.190661   19102    408165
          admin.            209  -516   930.478469   11686    194470
          entrepreneur      183  -849  1679.366120   52499    307324
          technician        158 -1818  1487.221519   16119    234981
          self-employed     130  -584  1330.723077   10924    172994
          student            44     0  1243.522727    8278     54715

In [18]:
X.groupby(['marital', 'housing']).agg({'balance': ['count', 'min', 'mean', 'max', 'sum']}).\
                                    sort_values(by=[('marital'), ('balance', 'count')], ascending=False)

                 balance
                   count   min         mean     max       sum
marital  housing
single   yes        6902 -2604  1171.544190   45248   8085998
         no         5888 -8019  1453.831012  102127   8560157
married  yes       15321 -3372  1202.224920   58544  18419288
         no        11893 -6847  1714.105020   98417  20385851
divorced yes        2907 -4057  1040.610251   29887   3025054
         no         2300 -1968  1353.623478   66721   3113334

In [19]:
X.groupby(['marital', 'loan']).agg({'balance': ['count', 'min', 'mean', 'max', 'sum']}).\
                                    sort_values(by=[('marital'), ('balance', 'count')], ascending=False)

              balance
                count   min         mean     max       sum
marital  loan
single   no     11127 -2604  1400.638537  102127  15584905
         yes     1663 -8019   638.153939   22125   1061250
married  no     22554 -3372  1548.184269   98417  34917748
         yes     4660 -6847   834.204077   51439   3887391
divorced no      4286 -4057  1278.097993   66721   5477928
         yes      921 -2282   717.111835   24055    660460